@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #0f8cdf;
  margin-bottom: 10px;
  font-size: 30px;
}

i {
  font-size: 15px;
  cursor: pointer;
}

.fa-solid {
  color: #999;
}

.liked {
  color: red;
}

.retweeted {
  color: limegreen;
}

/* layout */

main,
header {
  width: 290px;
  margin: 50px auto;
}

header {
  padding-bottom: 25px;
}

.tweet-input-area {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

/* textareas + btn */

textarea {
  font-family: inherit;
  border: none;
  resize: none;
  padding: 10px;
  margin: 0 0 20px 0;
  height: 60px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
}

button {
  background-color: #1da1f2;
  border: none;
  color: white;
  padding: 10px 19px;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

button:hover {
  opacity: 0.7;
}


/* .delete-btn {
  background: transparent;
  color: black;
  font-size: 15px;
} */

/* tweet */

.tweet {
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0;
  width: 100%;
  margin: 15px 0;
  
}

.tweet-inner {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.tweet-details {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  width: 160px;
}

.tweet-detail {
  display: flex;
  gap: 4px;
}

.tweet-reply {
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0px;
  margin: 10px 0 10px 40px;
  width: 80%;
}

.handle {
  font-size: 12px;
  font-weight: 500;
  color: #555;
  margin-top: 0;
}

.tweet-text {
  width: 207px;
  font-size: 14px;
  line-height: 20px;
}
.deleteBtn {
  position: absolute;
  top: -20%;
  right: -5%;
}

.deleteBtn button{
  background-color: transparent;
  color: rgb(114, 114, 114);
  font-size: 15px;
  font-weight: 400;
}
/* images */

.profile-pic {
  border: 1px solid lightgray;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* utility */
.hidden {
  display: none;
}

.is-empty {
  animation: shake 0.2s ease-in-out 0s 2;
}
