@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --text-color: rgb(57, 57, 57);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muli', sans-serif;
  height: 100%;
  color: var(--text-color);
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
}

.main-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  padding: 2em 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}

.nav-item:first-child {
  font-size: 2rem;
  margin-right: auto;
}

.hero-section {
  position: relative;
  min-height: 600px;
  background-image: url(./images/hero.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}


.hero-content {
  position: absolute;
  bottom: 2em;
  color: whitesmoke;
}

.hero-content p {
  max-width: 600px;
  padding-right: 1em;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2em;
  padding: 2em;
}

.grid-item span {
  display: block;
  padding: 1em 0 2em;
  color: rgb(160, 160, 160);
}

.grid-item h2 {
  padding-bottom: 0.5em;
}


.grid-item img {
  max-width: 100%;
  cursor: pointer;
  transition: filter 0.7s ease-in-out;
  filter: grayscale();
}

.grid-item img:hover {
  filter: none;
}

.grid-btn {
  display: block;
  margin: 0 auto;
  color: var(--text-color);
  border: none;
  background: none;
  text-decoration: underline;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 5em;
}

footer {
  width: 100%;
  background: rgb(57, 57, 57);
  color: whitesmoke;
  padding: 2em;
  text-align: center;
}