@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --primary-color: #1b2d45;
  --secondary-color: #ff5470;
  --accent-color: #dedede;
  --dark-accent-color: #8b8b8b;
  --bg-color: #f2f4f6;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: var(--bg-color);
  color: var(--primary-color);
}

/* Global Styles */
header {
  width: 475px;
  margin: 0 auto;
  background-image: url(./images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  color: var(--bg-color);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  margin-bottom: 80px;
}

h1,
h3 {
  margin: 0;
}

h1 {
  text-transform: uppercase;
}

h3 {
  font-weight: 600;
}

ul,
li {
  padding: 0;
}

.content-container {
  width: 420px;
  margin: 0 auto;
}

/* Main Content */
.menu-section {
  display: block;
}

.food-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--accent-color);
  margin: 50px 0;
}

.food-item-container img {
  width: 60px;
}

.food-item-container button {
  border: 1px solid var(--accent-color);
  color: var(--primary-color);
  padding: 10px 20px;
  font-size: 35px;
  border-radius: 70%;
  text-align: center;
  font-weight: 400;
  background: transparent;
  cursor: pointer;
}

.food-item-container button:hover {
  background: var(--secondary-color);
  color: var(--bg-color);
}

.food-item-container button:active {
  transform: scale(0.9);
}

.food-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 0;
  /* line-height: 22px; */
}

.food-details p {
  font-size: 14px;
  color: var(--dark-accent-color);
}

.food-details .item-price {
  font-weight: 600;
  padding-top: 5px;
  color: var(--primary-color);
}

/* Checkout Section */

.checkout-section {
  display: block;
}

.checkout-section h4 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.total-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-item {
  border: none;
  background: transparent;
  padding-left: 10px;
  color: var(--dark-accent-color);
  cursor: pointer;
}

.total-price {
  font-weight: 600;
}

.order-btn {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background: var(--secondary-color);
  color: var(--bg-color);
  cursor: pointer;
  margin-top: 20px;
}

.complete {
  cursor: default;
}

.order-btn:disabled {
  background: var(--accent-color);
}

/* Completed Order Section */
.ordered-list {
  display: none;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.ordered-list ul li {
  list-style: none;
  padding: 0;
  font-size: 26px;
}

/* Utility */
.line {
  width: 100%;
  background-color: var(--primary-color);
  height: 1px;
  margin-top: 20px;
}

.blurred {
  filter: blur(1px);
}

.modal-container {
  position: absolute;
  display: none;
  width: 420px;
  border-radius: 10px;
  top: 185px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: var(--bg-color);
  text-align: center;
  padding: 70px 0;
  z-index: 999;
  filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.7));
}

.close-modal-btn {
  position: absolute;
  right: 10;
  top: 10;
  font-size: 20px;
  background: transparent;
  border: none;
  color: var(--dark-accent-color);
  cursor: pointer;
}

.modal-container h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.modal-form {
  width: 380px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.modal-form input {
  border: 1px solid var(--dark-accent-color);
  color: var(--primary-color);
  border-radius: 10px;
  padding: 15px;
  margin: 5px 0;
}

.modal-form input:active,
.modal-form input:focus {
  outline-color: var(--secondary-color);
}

.confirmation-modal {
  display: none;
  background: var(--secondary-color);
  color: var(--bg-color);
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
  margin-top: 30px;
  animation-name: scale;
  animation-duration: 0.7s;
}

.confirmation-modal img {
  width: 60px;
}

@keyframes scale {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
