@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --bg-color: #1F2937;
  --btn-color: #3D4B60;
  --font-color: #D5D4D8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muli', sans-serif;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.container {
  width: 90%;
}
