@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Hanken+Grotesk:wght@300;400;500;700&display=swap');

:root {
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big-text: calc(2.4rem + 1vw);
  --grey-text: #525252;
  --bg-color: #414141;
  --accent-color: #906272;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Hanken Grotesk', sans-serif;
  color: black;
  animation: intro 2s ease-in-out;
}

h1 {
  font-size: var(--header1);
  font-family: 'Gloock', serif;
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4 {
  font-size: var(--header4);
}

li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-heading {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  min-height: 90vh;
  margin: auto;
  overflow-x: hidden;
}

.hero-text {
  flex: 2 1 40rem;
  text-align: center;
  margin-top: 2rem;
}

.hero-text p {
  padding: 5rem 10rem;
}

.hero-text a {
  border: 2px solid black;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.hero-text a:hover {
  background-color: black;
  color: white;
}

.hero-images {
  position: relative;
  flex: 1 1 40rem;
  background: linear-gradient(#dad8dd, #dad1d4);
  z-index: 1;
}

.hero-elena {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plant {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  animation: plant-entrance 1.5s ease-in-out,
    plant-shake 2.4s infinite ease alternate-reverse 2s
}

.plant2 {
  left: 40%;
}

@keyframes intro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes plant-entrance {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes plant-shake {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(0);
  }
}
