@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
  --primary-color: #6943FF;
  --secondary-color: #273549;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  overflow: hidden;
  background: #1F2937;
}
