@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Muli', sans-serif;
  font-size: 24px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}


.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 100px auto;
}

.list-item,
input[type='text'] {
  border-radius: 5px;
}

.list-item {
  border: 2px solid skyblue;
  min-width: 100%;
  padding: 8px 13px;
  background-color: whitesmoke;
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

input[type='text'] {
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
}

label {
  margin-bottom: -22px;
  margin-left: 10px;
  padding-left: 3px;
  z-index: 1000;
  background-color: white;
  width: 55px;
}

button {
  font-size: 24px;
  text-transform: uppercase;
  background: #6D9F71;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 17px;
  cursor: pointer;
}

button:active {
  opacity: 0.7;
}
