@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Muli', sans-serif;
  background: whitesmoke;
}

button {
  border: none;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 480px;
  margin: 0 auto;
}

/* Header and navigation */

header {
  width: 100%;
  padding: 1em;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav button {
  border: none;
  background: none;
  cursor: pointer;
}

nav button img {
  width: 30px;
}

nav .logo-btn {
  background: linear-gradient(0.25turn, #fa695a, #f83375);
  padding: 1em 3em;
  border-radius: 2em;
}

/* Main content */

.main-content {
  width: 100%;
  position: relative;
  color: whitesmoke;
}

.dog-avatar {
  width: 100%;
  border-radius: 0.7em;
}

.dog-info {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.dog-name-age {
  font-size: 2rem;
  margin-bottom: 0.2em;
}

.dog-bio {
  font-size: 1rem;
}

.dog-avatar,
.dog-info {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.status-banner {
  position: absolute;
  width: 150px;
  rotate: -25deg;
  top: 3em;
  left: 3em;
}

/* Choice buttons */
.choice-btn-container {
  width: 100%;
  display: flex;
  gap: 2em;
  padding: 1em;
}

.choice-btn-container button img {
  width: 50px;
}

.choice-btn-container button {
  background: whitesmoke;
  border-radius: 50%;
  padding: 2em;
  cursor: pointer;
  filter: drop-shadow(0 0.7em 0.6em #e2e2e3);
}

.swipe-btn:hover {
  background: #ffe7ef;
  filter: drop-shadow(0 0.7em 0.6em #ecd5dd);
}

.like-btn:hover {
  background: #dbfff4;
  filter: drop-shadow(0 0.7em 0.6em #cef0e6);
}

.modal {
  display: none;
  background: linear-gradient(0.25turn, #fa695a, #f83375);
  padding: 2em 3em;
  border-radius: 1em;
  color: whitesmoke;
  margin: 50px auto;
}
