@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;900&display=swap');

:root {
  --primary-color: #d1b3c4;
  --secondary-color: #735d78;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Archivo';
}

.text {
  text-transform: uppercase;
}

.nav-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}

.open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  
}
