@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;900&display=swap');

:root {
  --primary-color: #d1b3c4;
  --secondary-color: #735d78;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Archivo';
}
