@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

:root {
  --primary-color: #f3ffb6;
  --secondary-color: #739e82;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
}

.add {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 1rem 1.5rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.add:hover {
  color: #fff;
  background-color: var(--secondary-color);
  transform: scale(0.9);
}

.note {
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 30px 20px;
  height: 400px;
  width: 400px;
}

.note .tools {
  display: flex;
  justify-content: end;
  padding: 0.5rem;
  background-color: var(--secondary-color);
}

.note .tools button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 1rem;
  margin-left: 0.5rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.note .tools button:hover {
  transform: scale(1.1);
}

.note textarea {
  height: 400px;
  width: 100%;
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  padding: 15px;
}

.main {
  padding: 15px;
}

.hidden {
  display: none;
}
